.flex-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 645px;
  width: 85%;
  margin: 0 auto;
}
.left-column{
  display: flex;
  flex-direction: column;
  height: 460px;
}
.right-column{
  display: flex;
  flex-direction: column;
}
.doodle-image{
  width: 130px;
  max-width: 20%
}
.right-column-image{
  width: 600px;
}
.learn-paragraph{
  color: #4A4A4A;
  margin-top: 0;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}
.for-paragraph{
 color: #4A4A4A;
 font-family: Arial;
 font-weight: bold;
 font-size: 30px; 
 margin-top: 15px;
 margin-bottom: 30px;
}