.business-flex-container{
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .business-flex-container {
      flex-direction: column;
  }
}
.business-column-left{
  display: flex;
  flex-direction: column;
  max-width: 50%;    
  justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 100px;
  padding-left: 100px;
  border-color: solid black;
}
.business-column-right{
  display: flex;
  flex-direction: column;
  width: 60%;
  background-image: url("../images/lapetite-background2.jpg");
  background-position: 50% 50%; 
  border-bottom-left-radius: 650px;
  background-repeat: no-repeat;
}
.business-column-left, .business-column-right {
  flex: 1;
}
.business-header{
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  color: #4A4A4A;
  font-weight: bold;
}
.business-paragraph{
  font-size: 32.5px;
  font-family: 'Arial';
  color: #4A4A4A;
  font-weight: bold;
  max-width: 350px;
  padding-top: 35px;
  padding-bottom: 35px;
}
.background-image-curve{
  border-bottom-left-radius: 500px;
}
.business-flex-container3{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 200px;
  min-height: 400px;
  justify-content: space-evenly;
}
.business-two-div-container{
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 120px;
  min-height: 340px;
}
.column3-p{
  display: flex;
  font-family: Arial 20px;
  font-weight: bold;
  padding-bottom: 83px;
  border: solid lightblue;
  width: 200px;
}
.left-right-column{
  display: flex;
  flex-direction: column;
  max-width: 30%;
}
.proven-experience-header{
  text-align: center;
  color: #4A4A4A;
}
.more-images-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 100px;
}
.business-flex-container2{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-evenly;
}
.building-column-left{
  display: flex;
  flex-direction: column;
  max-width: 40%;
  min-height: 100%;
  justify-content: space-between;
}
.building-column-right{
  display: flex;
  flex-direction: column;
  max-width: 40%;
}
.guy-using-pc{
  max-width: 90%;
}
.column3-p{
  font-family: Arial 20px;
  font-weight: bold;
  padding-bottom: 83px;
}
.highly-motivated-container{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 140px;
  background-color: #bb2a27;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.highly-motivated-p{
  color: white;
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  max-width: 80%;
  text-align: center;
  padding-bottom: 20px;
}
.regular-container{
  min-height: 150px;
  padding-left: 45px;
}
.become-hiring-p{
  padding-left: 20px;
}
.business-flex-container4{
display: flex;
flex-direction: row;
min-height: 430px;
max-width: 80%;
margin: 0 auto;
}
.three-header{
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  color: #4A4A4A;
  padding-bottom: 15px;
}
.business-paragraph2{
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  max-width: 450px;
}
.business-header2{
  font-family: 'Arial';
  font-weight: bold;
  font-size: 31px;
  line-height: 1.5;
}
.business-paragraph3{
  font-family: 'Arial';
  font-size: 20px;
  color: #4A4A4A;
}
.unlisted-business{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #4A4A4A;
  line-height: 1.5;
}
.italic{
  font-style: italic;
}
.business-paragraph3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #4A4A4A;
}
.business-paragraph5{
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
}
.maxx-path{
  max-width: 100%;
  height: auto;
}
.business-header2, .unlisted-business{
  width: 100%;
}
@media (max-width: 900px) {
  .business-flex-container2, .business-flex-container3 {
    flex-direction: column;
    align-items: center;
    max-width: 90%;
  }
  body{
    margin-top: 100px;
  }
  .business-column-right{
    order: -1;
    border-radius: 0;
    width: 80%;
    height: auto;
  }
  .business-header{
    font-size: 35px;
  }
  .business-paragraph, .business-header2{
    font-size: 25px;
  }
  .business-paragraph2, .business-paragraph3, .unlisted-business, .three-header, .business-paragraph5{
    font-size: 16px;
  }
  .two-people-image{
    max-width: 500px;
    width: 100%;
    height: auto;
  }
  .left-right-column{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-bottom: 40px;
  }
  .business-flex-container2{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border: solid black;
  }
  .building-column-right{
    order: -1;
    width: 100%;
    height: auto;
    border: solid green;
  }
  .building-column-left{
    border: solid red;
    max-width: 100%;
  }
}
.business-two-div-container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 120px;
  min-height: 340px;
  border: solid pink;
}

.business-row-left3, .business-row-right3 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: solid gray;
}

@media (max-width: 768px) {
  .business-row-left3, .business-row-right3 {
      flex-direction: column;
  }

  .column3-p {
      padding-bottom: 10px;
      width: 300px;
  }
}
