body{
  padding-top: 110px;
}
p{
  margin:0;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: #4A4A4A;
}
h1{
  color: #4A4A4A;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  color: #4A4A4A;
}
h3{
  color: #4A4A4A;
  margin-top: 0;
  margin-bottom: 0;
}
.business-flex-container{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  min-height: 550px;
  justify-content: space-evenly;
}