.educators-container{
  background-image: url("../images/educators-background.jpg");
  background-size: 1500px 750px;
  background-position: 50% 0%; 
  min-height: 580px;
  width: 100%;
}
.educators-background{
  padding-left: 175px;
  padding-top: 50px;
  max-width: 870px;
  min-height: 320px;
}
.educators{
  font-size: 80px;
  font-weight: bold;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
.educators2{
  font-size: 35px;
  color: white;
  font-family: 'Arial';
  font-weight: bold;
  padding-top: 15px;
}
.IT-programs-container{
  background-color: #4A4A4A;
  max-width: 100%;
  min-height: 230px; 
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.IT-programs-cl{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 590px;
  margin-left: 150px;

}
.IT-programs-cr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}
.IT-programs-p{
  color: white;
  font-weight: bold;
  font-size: 35px;
}
.educators-container2{
  padding-left: 150px;
}
.educators-p{
  font-size: 35px;
  color: #4A4A4A;
  font: Arial;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}
.sound-familiar-p{
  padding-left: 20px;
}
.girl-on-zoom{
  max-width: 400px;
}
.educators-container3{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 90%;
}
.educators-column-left{
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 30px;
}
.educators-column-right{
  display: flex;
  flex-direction: column;
  max-width: 40%;
}
.educators-container4{
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  min-height: 300px;
  justify-content: space-between;
  margin-left: 10%;
}
.educators-container5{
  display: flex;
  flex-direction: row;
  max-width: 80%;

  /*Better way to center*/
  margin: 0 auto;
}
.educators-column-left2{
  display: flex;
  flex-direction: column;
}
.educators-column-right2{
  display: flex;
  flex-direction: column;
}
.educators-container6{
  max-width: 80%;
  margin: 0 auto;
}
.educators-gray-container{
  background-color: #4A4A4A;
  min-height: 200px;
  margin: 0 auto;
  align-content: center;
  padding-left: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.educators-container7{
  display: flex;
  flex-direction: column;
  max-width: 80%;
  min-height: 550px;
  margin: 0 auto;
  justify-content: space-around

}
